.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}

body {
  /* background-image: linear-gradient(rgb(84, 229, 240), rgb(58, 196, 250)); */
  background-image: url(images/background.jpg);
  height: 100vh;
}

.container {
  max-width: 955px;
  background-color: rgb(106, 233, 106);
  margin: 0 auto;
  height: 60vh;
  border-radius: 3%;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 20px;

  /* background-image: "https://unsplash.com/photos/6QnEf_b47eA"; */
}

.message {
  background-color: rgb(71, 232, 238);
  width: 24%;
  padding: 10px;

  margin: 15px 17px 12px;
  border: 2px solid rgb(46, 74, 235);
  border-radius: 11px;
}
.left {
  float: right;
  clear: both;
}

.right {
  float: left;
  clear: both;
}

#send-container {
  /* background-color: black; */
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
  max-width: 985px;
}

#messageInp {
  width: 92%;
  border: 2px solid blue;
  border-radius: 6px;
  height: 34px;
}

.btn {
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 6px;
  height: 34px;
}
